table#cart
  width: 100%
  text-align: left 
  .image 
    width: 100px
  .media-body
    vertical-align: middle  
  colgroup 
    .products 
      width: 50%
      +desktop
        width: 45%   
      +laptop
        width: 40% 
      +tablet
        width: 40%        
    .price-unit
      width: 15%
      +desktop
        width: 20%
    .quantity
      width: 15% 
      +laptop 
        width: 20%   
      +tablet
        width: 20%     
    .price-total
      width: 15%      
    .actions
      width: 5%       
  thead 
    background-color: $primary
    line-height: 2
    color: #fff
  tbody
    tr 
      border-bottom: 1px solid #eee
    &:last-child
      border: none    
  th, td 
    font-weight: 400
    padding: 0.5em 
  td.price-unit, th.price-unit
    text-align: right
    padding-right: 5em
    +laptop 
      padding-right: 3em
    +tablet 
      padding-right: 1em
    +phone 
      padding-right: 0  
    p 
      margin-bottom: 0
    span 
      font-size: 0.9em
      color: #aaa 
      &.modifier
        color: #000 
  td.price-total, th.price-total
    text-align: right 
    p 
      margin-bottom: 0
    span 
      font-size: 0.9em
  td.quantity, th.quantity    
    padding-left: 5em
    +desktop
      padding-left: 3em
    +tablet 
      padding-left: 4em  
    +phone 
      padding-left: 0 
  td.actions
    text-align: center 
    a 
      color: red     
  input.input-quantity 
    max-width: 4em
    text-align: right 
  button.btn-update
    background-color: transparent 
    color: $primary   







.go-to-checkout-wrap
  padding-top: 10px
  .btn-finalize, table.table-products a.btn-finalize
    margin-top: 0px

table.table-products .go-to-checkout-wrap a.btn-finalize, .go-to-checkout-wrap .btn-edit
  margin-top: 0px

.checkout-address-view
  font-size: 0.9em
  input
    border: none
    line-height: 1
    &:hover, &:focus
      box-shadow: none
  label
    font-weight: 600
    font-size: 0.9em

.form-item, .form-header
  margin-bottom: 0.5em