table#cart
  width: 100%
  text-align: left
  margin-bottom: 1em 
  .image 
    width: 100px
  .media-body
    vertical-align: middle  
  colgroup 
    .products 
      width: 50%
      +desktop
        width: 45%   
      +laptop
        width: 40% 
      +tablet
        width: 40%        
    .price-unit
      width: 15%
      +desktop
        width: 20%
    .quantity
      width: 15% 
      +laptop 
        width: 20%   
      +tablet
        width: 20%     
    .price-total
      width: 15%      
    .actions
      width: 5%       
  thead 
    background-color: $primary
    line-height: 2
    color: #fff
  tbody
    tr 
      border-bottom: 1px solid #eee
    &:last-child
      border: none    
  th, td 
    font-weight: 400
    padding: 0.5em 
  td.price-unit, th.price-unit
    text-align: right
    padding-right: 5em
    +laptop 
      padding-right: 3em
    +tablet 
      padding-right: 1em
    +phone 
      padding-right: 0  
    p 
      margin-bottom: 0
    span 
      font-size: 0.9em
      color: #aaa 
      &.modifier
        color: #000 
  td.price-total, th.price-total
    text-align: right 
    p 
      margin-bottom: 0
    span 
      font-size: 0.9em
  td.quantity, th.quantity    
    padding-left: 5em
    +desktop
      padding-left: 3em
    +tablet 
      padding-left: 4em  
    +phone 
      padding-left: 0 
  td.actions
    text-align: center 
    a 
      color: red     
  input.input-quantity 
    max-width: 4em
    text-align: right 
  button.btn-update
    background-color: transparent 
    color: $primary   
  .description
    a 
      font-weight: 600
      color: $primary
  .product-code
    font-size: 0.9em    
.cart-summary
  +clearfix
  border-top: 2px solid #000000
  background-color: $lightblue
  padding: 0 0.5em
  line-height: 2
  font-weight: 600
  margin-bottom: 1em
  p 
    margin-bottom: 0

.cart-actions
  .btn-fade
    margin-left: 0.5em
    







.checkout-address-view
  font-size: 0.9em
  input
    border: none
    line-height: 1
    &:hover, &:focus
      box-shadow: none
  label
    font-weight: 600
    font-size: 0.9em



.gift-cards .control-label, .voucher .control-label
  margin-right: 1em
  font-size: 1.2em
  font-weight: 300
  min-width: 7em

.gift-cards, .voucher
  margin-bottom: 0.5em
.gift-cards
  margin-bottom: 1em
.gift-cards button.btn-main, .voucher button.btn-main
  margin-left: 1em

.giftCard
  margin: 30px 0 0 0
  table tr td
    padding: 5px 10px

.checkout-page .giftCard .total
  border-bottom: 1px solid #fff
  font-weight: 600