.product-detail--image
  margin-top: 1em
  .main 
    a 
      display: block 
    img 
      margin: 0 auto
  .thumbnails
    margin-bottom: 1em
    ul 
      +clearfix
      margin: 0 -0.5em
    a
      display: block
      border: 1px solid #eee
      padding: 0.5em
    img
      margin: 0 auto
    .item
      padding: 0 0.5em
      margin-bottom: 1em
.product-detail--info 
  padding: 1em
  margin-bottom: 1em
  border: 1px solid $gray
  h1
    font-size: 2em
    line-height: 1.2
    margin: 0 0 1rem
    padding: 0 0 1rem
    color: #000     
    font-weight: 300
    border-bottom: 1px solid $gray
    +phone
      font-size: 1.4em
      margin: 0 0 0.5rem
      padding: 0 0 0.5rem
      font-weight: 700
  .new
    font-size: 2em
    color: #000
    margin: 0    
    line-height: 1
    font-weight: 600
    color: $primary
    display: inline-block 
    +phone 
      font-size: 1.4em
      font-weight: 700
  .old 
    font-size: 1em
    color: #999
    display: inline-block   
  .product-code 
    font-weight: 600
    font-size: 0.9em  
    border-bottom: 1px solid $gray
    padding: 0 0 1rem
    margin: 0 0 1rem
    +phone 
      margin: 0 0 0.5rem
      padding: 0 0 0.5rem
    p 
      margin: 0 0 0.2em
      +phone 
        margin: 0
      &:last-child 
        margin-bottom: 0
  .product-quantity
    width: 4em
    text-align: right 
    +phone 
      text-align: center 
  .control-label 
    font-weight: 700
    font-size: 0.9em
    margin-right: 0.3em
  .rating-star-block 
    font-size: 0.9em
    margin: 0.2em
    img 
      display: inline-block 
    a:hover 
      text-decoration: none
.product-detail--order 
  margin-bottom: 1rem
  padding-bottom: 1rem
  border-bottom: 1px solid $gray
  +phone     
    margin-bottom: 0.5rem     
    padding-bottom: 0.5rem 
  .options 
<<<<<<< HEAD
    display: inline-block    
    +phone  
      display: block
    select 
      width: 10em  
=======
    display: inline-block
    +phone  
      display: block
>>>>>>> origin/master
  .form-submit
    margin-top: 1rem    
    +phone
      margin-top: 0.5rem
.product-detail--teaser
  font-size: 0.9em


.product-detail--compare
  width: 100%
  position: relative
  .control-label 
     margin: 0
  p 
    font-size: 0.8em
    color: #adadad
    text-align: right
  #compare_results
    position: absolute
    right: 1.2em
    top: 3em
    z-index: 99
    max-width: 100%
    left: 1.2em
    ul
      margin: 0
      padding: 0
      box-shadow: 0px 0px 7px #464646
      border: 1px solid #000000   
      background: #ffffff
      overflow-x: hidden
      overflow-y: scroll
      width: 100%
      max-height: 300px
    li
      display: block
      margin: 0  
      padding: 0.5em
<<<<<<< HEAD
      border-bottom: 1px solid $gray
=======
      border-bottom: 1px solid #ddd
>>>>>>> origin/master
    a
      color: #000
      &:hover 
        text-decoration: none
    img
      max-width: 45px
      float: left
      margin: 0 0.5em 0 0
      
      // &:hover
      //   background: #eeeeee
<<<<<<< HEAD
      //   cursor: pointer

.tab-navigation
  margin: 0px
  padding: 0px
  li
    float: left    
    &:last-child a 
      border-right: 1px solid $gray
    &.active a
      background-color: #f5f5f5
      // &:after 
      //   font-family: "FontAwesome"
      //   content: "\f111"
      //   margin-left: 0.3em
  a
    display: block
    line-height: 30px
    font-weight: bold
    width: 150px
    background-color: #fff
    color: #333
    text-transform: uppercase
    text-align: center
    border: 1px solid $gray
    border-radius: 0px      
    font-size: 12px         
    transition: all 0.2s ease-in
    border-bottom: 0px
    // border-right: 0
    &:hover
      background-color: $primary !important
      color: #fff !important
.productSpecs
  padding: 0 
  margin: 0
  font-size: 0.9em
  border: 1px solid $gray
  li
    display: block    
    line-height: 2.4em
    padding: 0 0.5em 
    background-color: #fff
    &:nth-child(2n)
      background: #f5f5f5
    strong
      width: 175px
      vertical-align: top
      display: inline-block
    // span
    //   width: 640px
    //   vertical-align: top
    //   display: inline-block      


.tab-content
  padding-top: 1em
  border-top: 1px solid $gray
  margin-bottom: 0px
  h2
    font-size: 16px
    margin: 0px 0px 25px 0px
    font-weight: bold
  // p
  //   font-size: 12px
  //   margin-bottom: 0px
  //   display: inline
  .comment
    margin: 5px 0 10px 0
    line-height: 20px
    display: block
  h3
    font-size: 13px
  // li
  //   display: inline
  img.ratingstar
    display: inline-block
    margin-bottom: 10px
  textarea
    width: 60%
    height: 130px           

#top-panel, #bottom-panel
  margin-bottom: 2em

.wrapper-compare
  position: absolute
  top: 50px
  width: 85px
  right: -100px
  .compare-box
    background: #a6adb2
    padding: 10px 10px
    visibility: hidden
    .box
      display: block
      position: relative
      a
        display: block
        background: #fff
        width: 65px
        height: 45px
        margin-bottom: 7px
        img
          width: 65px
          max-height: 45px
        &.delete
          display: block
          position: absolute
          background: none
          width: auto
          height: auto
          margin-bottom: 0
          right: 2px
          top: 1px
          i
            color: #d30300
            font-size: 15px
    .btn-compara
      font-size: 12px
      background-color: green
      border-radius: 5px
      color: #fff
      box-shadow: 1px 1px #090
      display: block
      border: none
      text-align: center
      padding: 3px 7px
  .scroll-box
    top: 10px
    width: 85px
    position: fixed      

#review textarea
  border: 1px solid #eee
  margin: 0 0 10px 0  
  width: 100%
  max-width: 50% 
  +tablet 
    max-width: 100%
  +phone
    max-width: 100%

.rate
  float: left
  margin: 0 10px 0 0
  font-weight: 600
  font-size: 0.9em    
=======
      //   cursor: pointer
>>>>>>> origin/master
