.breadcrumbs  
  font-size: 0.9em
  font-weight: 400
  line-height: 2.5em
  color: #000 
  +phone
    margin: 0 0 0.5em 0
    padding: 0 0.5em
    background: #eee
  ul
    +h-nav
  a
    color: inherit   
    &:hover
      color: $primary
  li
    &:after
      content: "/"
      margin-left: 0.2em
      margin-right: 0.2em
      font-weight: 400      
    &:last-child:after    
      content: none