.read-more
  font-weight: 600  
  &:hover 
    text-decoration: underline
    color: $primary
  i 
    transition: all 0s linear 
.btn-action
  outline: none 
  border: none 
  box-shadow: none
  background-color: $primary
  line-height: 2.5em
  padding: 0 1em
  border-radius: 0.3em
  color: #fff
  &:hover
    background-color: $green
