.read-more
  font-weight: 600  
  background-color: #000000
  color: #fff
  padding: 0.5em 1em
  border-radius: 0.3em
  &:hover 
    text-decoration: none
    color: #fff 
    background-color: $primary
  i 
    transition: all 0s linear 
    display: none
.btn-action
  outline: none 
  border: none 
  box-shadow: none
  background-color: $primary
  line-height: 2.5em
  padding: 0 1em
  border-radius: 0.3em
  color: #fff
  &:hover
    background-color: $green
