.product-list-wrapper  
  margin-bottom: 1em
  transition: all 0.3s ease-out
  opacity: 0
  .slick-next, .slick-prev  
    text-align: center
    color: #FFFFFF  
    font-size: 2em
    background-color: rgb(223, 240, 255)
    border-radius: 100%
    width: 1.5em
    height: 1.5em
    vertical-align: middle 
    line-height: 1.5em   
    z-index: 99
    &:hover 
      background-color: $primary
      color: #fff
  .slick-next 
    position: absolute
    right: -0.75em
  .slick-prev
    position: absolute
    left: -0.75em  
.brands-wrapper 
  background: linear-gradient(to bottom, #fafafa 0%, rgba(229, 229, 229, 0) 100%)
  border-top: 1px solid #eee  
  padding-top: 2rem
  position: relative
  margin: 0 0 1rem
.brands-list-navigation
  top: -1rem !important 
  right: 0 !important 
  .slick-next, .slick-prev
    color: #000 !important

.product-list-carousel, .product-list-carousel-4
  .product-box
    border-right: 1px solid #eee
 
  // .slick-viewport:before 
  //   position: absolute
  //   right: 0px
  //   top: 0px
  //   bottom: 0px
  //   width: 2px
  //   background-color: #fff 
  //   content: ""
  //   z-index: 9